<app-title title="Defer Triggers" />

<section>
  <h1 class="text-xl">on interaction - Cuando interactuas con el propio elemento dentro del defer</h1>
  <hr class="my-2">

  @defer (on interaction) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on interaction</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Click en el div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on interaction(element) - Cuando interactuas con otro elemento</h1>
  <hr class="my-2">

  <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">Click me!</button>

  @defer (on interaction(btnInteraction)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on interaction (element)</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on hover - Cuando pasas por encima del propio elemento dentro del defer</h1>
  <hr class="my-2">

  @defer (on hover) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on hover</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on hover(element) - Cuando pasas por encima de otro elemento</h1>
  <hr class="my-2">

  <button #btnHover class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">Hover me!</button>

  @defer (on hover(btnHover)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on hover (element)</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on immediate - En cuanto se pueda se carga</h1>
  <hr class="my-2">

  @defer (on immediate) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on immediate</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on timer (time en milis) - Se carga cuando pasa el tiempo estipulado</h1>
  <hr class="my-2">

  @defer (on timer(2000)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on timer(2000)</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>

<section>

  <h1 class="text-xl mt-2">on hover; prefetch on idle - Se carga cuando pasas por encima del elemento, pero lo precarga en idle</h1>
  <hr class="my-2">

  @defer (on hover; prefetch on idle) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>on hover; prefetch on idle</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-300">Placeholder Div</div>
  }

</section>
